{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" style="margin: auto; width: 60%; color: white;" action="{% url 'login' %}">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary my-1 btn-sm" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
    <a class="mx-2 px-1" href="{% url 'password_reset' %}"><small>Forgot Password?</small></a>
</form>

{% endblock %}
