{% extends 'base_bootstrap.html' %}
{% block content %}
<div class="text-white">
	<div class="d-flex flex-column">
		<h1 class="h3 mb-3 font-weight-normal">Reset email sent</h1>
		<p class="m-auto mb-3">
		We've emailed you instructions for setting your password, if an account exists with the email you entered.
		You should receive them shortly.
		</p>
		<p class="m-auto mb-3">
		If you don't receive an email, please make sure you've entered the address you registered with,
		and check your spam folder.
		</p>
		<p><a class="btn btn-primary my-1 btn-sm" href="{% url 'attendance:all' %}">Return to home page</a></p>
	</div>
</div>
{% endblock %}
