Django==4.2.16
social-auth-core==4.5.1
social-auth-app-django==5.4.0
crispy-bootstrap5==0.7
django-crispy-forms==2.1
asgiref==3.7.2
sqlparse==0.4.4
psycopg2-binary==2.9.9
Pillow==10.1.0
python-dotenv==1.0.0
whitenoise==6.6.0
gunicorn==21.2.0
django-cors-headers==4.3.1
requests==2.31.0
oauthlib==3.2.2
PyJWT==2.8.0
celery==5.4.0
cryptography==41.0.7
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-environ==0.11.2
django-password-reset==2.0
django-redis==5.4.0
python-crontab==3.2.0
python-social-auth==0.3.6
cron-descriptor==1.4.5
charset-normalizer==3.4.0
pip==24.0
